
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none; /* Supprime les puces */
  padding: 0;
  margin: 0;
}

/* Fond et police pour toute la page */
html, body, .portfolio {
  width: 100%;
  min-height: 100vh;
  background-color: #0d1b2a;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

header {
  background-color: #1b263b;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 40px;
  color: #ffffff;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #fca311;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 10%;
  background: linear-gradient(135deg, #0d1b2a, #1b263b);
}

.intro img {
  width: 60%;
}

.intro h2 {
  font-size: 32px;
  font-weight: bold;
  color: #e0e1dd;
}

.intro h3 {
  font-size: 64px;
  font-weight: normal;
  color: #fca311;
  margin-top: 10px;
}

.intro a {
  display: inline-block;
  margin-top: 5px;
  padding: 10px 20px;
  background-color: #fca311;
  color: #0d1b2a;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.cv:hover {
  background: #ffba49;
  transform: scale(1.1);
}

section {
  padding: 40px 20px;
  text-align: center;
}

h2, h3, h4, h5 {
  color: #fca311;
}

.projetimg,
.petite-image {
  width: 10%;
  margin-right: 10px;
}

#skills {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 40px 20px;
}

.icones-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.skill-emote {
  background: white;
  color: #0d1b2a;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
  font-size: 19.32px;
  transition: transform 0.3s ease;
  cursor: default;
}

.skill-emote:hover {
  transform: translateY(-8px);
}
#contact ul {
  display: flex;
  justify-content: center; /* centre horizontalement */
  align-items: center;     /* centre verticalement */
  gap: 30px;          /* ecarte les 2  */
}

#contact li {
  list-style: none;        /* pas de puces */
}

#contact a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  transition: transform 0.3s, color 0.3s;
}

#contact a:hover {
  transform: scale(1.1);
  color: #fca311;
}

footer {
  background-color: #1b263b;
  padding: 20px;
  text-align: center;
  color: #ffffff;
  margin-top: 40px;
  width: 100%;
}
